@import "tailwindcss";

:root {
  --background: 255 255 255;
  --foreground: 10 10 10;
}

html,
body {
  height: 100%;
  background: rgb(var(--background));
  color: rgb(var(--foreground));
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, sans-serif;
}
